{% extends "layout.html" %}

{% block content %}
{% if object_list %}

	<h2>Latest complaints</h2>
	<table class="table table-striped">
		<thead class="thead-dark">
		<tr>
			<th>Name</th>
			<th>Details</th>
			<th>Deadline</th>
			<th>Completion</th>
		</tr>
	</thead>
		{%for complaint in object_list %}
  <tr>
	  <td><a href="{% url 'complaints:complaint_detail' complaint.id %}">{{complaint.cpl_name}}</a></td>
	  <td>{{complaint.cpl_details}}</td>
	  <td>{{complaint.cpl_deadline}}</td>
	  <td>{{complaint.is_cpl_finished}}</td>
  </tr>

		{% endfor %}
</table>
{% else %}
<p>No complaints yet</p>
{%endif %}

<div class="pagination">
    <span class="step-links">
		<ul class="pagination">
        {% if page_obj.has_previous %}
			<li class="page-item">
				<a class="page-link" href="?page=1">&laquo; first</a></li>
			<li class="page-item">
				<a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

			<li class="page-item active"><a class="page-link" href="#" a>{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
			<li class="page-item">
				<a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
			<li class="page-item">
				<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
		</ul>
    </span>
</div>

{% endblock content %}