{% extends "layout.html" %}

{% block content %}

<a class="nav-link" href="{% url 'complaints:dashboard' %}"><< Back</a>

{% if tasks_for_user %}

	<h2>Assigned Tasks</h2>
	<table class="table table-striped">
		<thead class="thead-dark">
		<tr>
			<th>Name</th>
			<th>Details</th>
			<th>Deadline</th>
			<th>Assigned User</th>
			<th>Completion</th>
			<th>Complaint</th>
		</tr>
	</thead>
		{%for task in tasks_for_user %}
  <tr>
	  <td><a href="{% url 'complaints:task_detail' task.id %}">{{task.tsk_name}}</a></td>
	  <td>{{task.tsk_details}}</td>
	  <td>{{task.tsk_deadline}}</td>
	  <td>{{task.assigned_user}}</td>
	  <td>{{task.is_tsk_finished}}</td>
	  <td><a class="nav-link" href="{% url 'complaints:complaint_detail' task.complaint.id %}">{{task.complaint}}</a></td>
  </tr>

		{%endfor %}
</table>
{% else %}
<p>No task assigned yet</p>
{%endif %}

{% endblock content %}